<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Play</title>
    <link rel="stylesheet" href="sytle.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life" 
                        :class="{danger: playerLife < 20}"
                        :style="{width: playerLife + '%'}">
                    </div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Rival</h1>
                <div class="life-bar">
                    <div class="life" 
                        :class="{danger: rivalLife < 20}"
                        :style="{width: rivalLife + '%'}">
                    </div>
                </div>
                <div>{{ rivalLife }}%</div>
            </div>
        </div>
        <div class="panel result" v-if="hasResult">
            <div v-if="rivalLife === 0" class="win">Você ganhou!</div>
            <div v-else class="lose">Você perdeu!</div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack" @click="attack(false)">Ataque</button>
                <button class="btn especial-attack" @click="attack(true)">Ataque Especial</button>
                <button class="btn heal" @click="healAndHurt()">Curar</button>
                <button class="btn give-up" @click="running = false">Desistir</button>
            </template>
            <template v-else>
                <button class="btn new-game" @click="startGame()">Iniciar Jogo</button>
            </template>
            
        </div>
        <div class="panel logs" v-if="logs.length">
            <ul>
                <li v-for="log in logs" class="log" :class="log.cls">{{ log.text }}</li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>